body {
  margin: 0; }

.grid {
  margin: 0 10%; }

ul {
  margin: 0;
  padding: 0; }

section {
  padding-top: 3%; }

section.menu .desk--two-thirds {
  width: 60.66%; }

body {
  font-family: "Gill Sans", "Tahoma", sans-serif; }

h1,
h2,
h3 {
  font-weight: normal; }

h1 {
  margin: 2% 0 0; }

a {
  text-decoration: none; }

ul.links a,
ul.nav a {
  color: #717171; }

ul.links a:hover,
ul.nav a:hover {
  color: #8F33C4; }

i.fa-comment {
  font-size: 250%; }

section.menu {
  background: #EBEBEB; }
  section.menu .grid--center >
.grid__item {
    text-align: center; }
  section.menu i.fa-comment {
    vertical-align: super;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8f33c4+0,a161db+40,701dbb+100 */
    color: #8f33c4;
    /* Old browsers */
    color: -moz-linear-gradient(-45deg, #8f33c4 0%, #a161db 40%, #701dbb 100%);
    /* FF3.6-15 */
    color: -webkit-linear-gradient(-45deg, #8f33c4 0%, #a161db 40%, #701dbb 100%);
    /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(135deg, #8f33c4 0%, #a161db 40%, #701dbb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f33c4', endColorstr='#701dbb',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  section.menu .logo-wrap {
    display: inline-block; }
    section.menu .logo-wrap span.travel {
      font-size: 175%;
      color: #701DBB;
      font-weight: bold;
      letter-spacing: 2px; }
  section.menu span.logo-slogan {
    display: block;
    font-size: 70%;
    font-style: italic;
    color: #BABABA; }

div.nav {
  float: right;
  padding-top: 1%; }

ul.links li {
  display: inline;
  float: left;
  padding: 0 2%; }

input {
  width: 100%;
  padding: 5% 10%; }

ul.nav {
  list-style-type: none;
  padding-top: 3%; }
  ul.nav li:hover {
    border-bottom: 5px solid #701DBB; }
  ul.nav li:visited {
    border-bottom: 3px solid #A161DB; }
  ul.nav li {
    float: left;
    padding: 3% 5%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfffd+0,eaeaea+100 */
    background: #fcfffd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfffd 0%, #eaeaea 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfffd 0%, #eaeaea 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfffd 0%, #eaeaea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffd', endColorstr='#eaeaea',GradientType=0 );
    /* IE6-9 */
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 3px solid #701DBB; }
    ul.nav li i {
      display: block; }

section.hero {
  background: url("../assets/hero-squares.png") no-repeat bottom left;
  padding: 15% 0;
  margin-top: -0.5%; }
  section.hero .grid--center >
.grid__item {
    text-align: center; }
  section.hero .comment {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #451A4A; }
  section.hero i.fa-comment {
    color: white;
    position: relative;
    top: 30%;
    right: 15%; }

section.map {
  background: #2D2D2D;
  color: white; }
  section.map .title {
    text-align: center; }
  section.map h1 {
    font-weight: normal;
    letter-spacing: 0.2rem;
    font-size: 205%; }
  section.map span.slogan {
    color: #8F33C4;
    font-weight: normal; }
  section.map img {
    margin: 2% 0 4% 0; }
  section.map .one-third {
    width: 32.333%; }

.icon-wrap {
  text-align: center; }

ul.icons li {
  list-style-type: none;
  display: inline-block;
  padding: 0 2% 3%; }
  ul.icons li i {
    font-size: 300%;
    vertical-align: middle; }

.line {
  height: 2px;
  width: 50px; }

.line, li {
  color: #717171; }

h2 {
  margin-bottom: 0;
  font-size: 150%; }

p {
  margin: 2% 0 15%; }
