// COLOUR VARIABLES
$bg-light-grey: #EBEBEB;
$slogan: #BABABA;
$bg-drk-grey: #2D2D2D;
$font-grey: #717171;
$drk-purp: #701DBB;
$bright-purp: #A161DB;
$purp: #8F33C4;
$darkest-purp: #451A4A;

// SET UP STYLES
body {
	margin: 0;
}
.grid {
	margin: 0 10%;
}
ul {
	margin: 0;
	padding: 0;
}
section {
	padding-top: 3%;
}
section.menu {
	.desk--two-thirds {
		width: 60.66%;
	}
}

// FONT STYLES
body {
	
	font-family: "Gill Sans", "Tahoma", sans-serif
}
h1,
h2,
h3 {
	font-weight: normal;
}
h1 {
	margin: 2% 0 0;
}
a {
	text-decoration: none;
}
ul.links,
ul.nav {

	a {
		color: $font-grey;
	}
	a:hover {
		color: $purp;
	}
}
i.fa-comment {
	font-size: 250%;
}

// SECTION.MENU STYLES
section.menu {
	background: $bg-light-grey;

	.grid--center >
	.grid__item {
		text-align: center;
	}
	img {
		
	}
	i.fa-comment {
		vertical-align: super;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8f33c4+0,a161db+40,701dbb+100 */
		color: #8f33c4; /* Old browsers */
		color: -moz-linear-gradient(-45deg,  #8f33c4 0%, #a161db 40%, #701dbb 100%); /* FF3.6-15 */
		color: -webkit-linear-gradient(-45deg,  #8f33c4 0%,#a161db 40%,#701dbb 100%); /* Chrome10-25,Safari5.1-6 */
		color: linear-gradient(135deg,  #8f33c4 0%,#a161db 40%,#701dbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f33c4', endColorstr='#701dbb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	}
	.logo-wrap {
		display: inline-block;
		
		span.travel {
			font-size: 175%;
			color: $drk-purp;
			font-weight: bold;
			letter-spacing: 2px;
		}
	}
	span.logo-slogan {
		display: block;
		font-size: 70%;
		font-style: italic;
		color: $slogan;
	}
}// end of section.menu
div.nav {
	float: right;
	padding-top: 1%;
}
ul.links {
	li {
		display: inline;
		float: left;
		padding: 0 2%;
	}
}
input {
	width: 100%;
	padding: 5% 10%;
}
ul.nav { 	
	list-style-type: none;
	padding-top: 3%;

	li:hover {
		border-bottom: 5px solid $drk-purp;
	}
	li:visited {
		border-bottom: 3px solid $bright-purp;
	}

	li {
		float: left;
		padding: 3% 5%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfffd+0,eaeaea+100 */
		background: #fcfffd; /* Old browsers */
		background: -moz-linear-gradient(top,  #fcfffd 0%, #eaeaea 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fcfffd 0%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fcfffd 0%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
		border-top: 1px solid $bg-light-grey;
		border-left: 1px solid $bg-light-grey;
		border-right: 1px solid $bg-light-grey;
		border-bottom: 3px solid $drk-purp;
		i {
			display: block;
		}
	}// end of li
}// end of ul.nav
// END OF SECTION.MENU STYLES

// START OF SECTION.HERO STYLES
section.hero {
	background: url('../assets/hero-squares.png') no-repeat bottom left;
	padding: 15% 0;
	margin-top: -0.5%;

	.grid--center >
	.grid__item {
		text-align: center;
	}
	.comment {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		background: $darkest-purp;
	}

	i.fa-comment {
		color: white;
		position: relative;
		top: 30%;
		right: 15%;
	}
}
// END OF SECTION.HERO STYLES

// START OF MAP STYLES
section.map {
	background: $bg-drk-grey;
	color: white;

	.title {
		text-align: center;
	}

	h1 {
		font-weight: normal;
	    letter-spacing: 0.2rem;
	    font-size: 205%;

	}
	span.slogan {
		color: $purp;
		font-weight: normal;
	}
	img {
		margin: 2% 0 4% 0;
	}
	.one-third {
		width: 32.333%;
	}

}
ul.icons {


	li {
		list-style-type: none;
		display: inline-block;
		padding: 0 2% 3%;
		

		i {
			font-size: 300%;
			vertical-align: middle;
		}
	}
}
.line {
	height: 2px;
	width: 50px;
}
.line, li {
	color: $font-grey;
}
h2 {
	margin-bottom: 0;
}
p {
	margin: 2% 0 15%;
}

// END OF MAP STYLES
