$bg-light-grey: #EBEBEB;
$slogan: #BABABA;
$bg-drk-grey: #2D2D2D;
$font-grey: #717171;
$drk-purp: #701DBB;
$bright-purp: #A161DB;
$purp: #8F33C4;



// SET UP STYLES
body {
	margin: 0;
}

.grid {
	margin: 0 10%;
}

.grid--center >
.grid__item {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

section {
	padding-top: 3%;
}

section.menu {
	.desk--two-thirds {
		width: 65.66%;
	}
}


// FONT STYLES
body {
	
	font-family: "Gill Sans", "Tahoma", sans-serif
}
a {
	text-decoration: none;
}
ul.links,
ul.nav {

	a {
		color: $font-grey;
	}
	a:hover {
		color: $purp;
	}
}

// SECTION.MENU STYLES
section.menu {
	background: $bg-light-grey;
	img {
		
	}
	i.fa-comment {
		font-size: 250%;
		vertical-align: super;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8f33c4+0,a161db+40,701dbb+100 */
		color: #8f33c4; /* Old browsers */
		color: -moz-linear-gradient(-45deg,  #8f33c4 0%, #a161db 40%, #701dbb 100%); /* FF3.6-15 */
		color: -webkit-linear-gradient(-45deg,  #8f33c4 0%,#a161db 40%,#701dbb 100%); /* Chrome10-25,Safari5.1-6 */
		color: linear-gradient(135deg,  #8f33c4 0%,#a161db 40%,#701dbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f33c4', endColorstr='#701dbb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	}
	.logo-wrap {
		display: inline-block;
		
		span.travel {
			font-size: 175%;
			color: $drk-purp;
			font-weight: bold;
			letter-spacing: 2px;
		}
	}
	span.logo-slogan {
		display: block;
		font-size: 70%;
		font-style: italic;
		color: $slogan;
	}
}// end of section.menu
div.nav {
	float: right;
	padding-top: 1%;
}
ul.links {
	li {
		display: inline;
		float: left;
		padding: 0 2%;
	}
}
input {
	width: 100%;
	padding: 5% 10%;
}
ul.nav {
	list-style-type: none;
	padding-top: 3%;

	li:hover,
	li:focus,
	li:active,
	li:visited {
		border-bottom: 4px solid $drk-purp;
	}

	li {
		display: inline-block;
		padding: 2% 3%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfffd+0,eaeaea+100 */
		background: #fcfffd; /* Old browsers */
		background: -moz-linear-gradient(top,  #fcfffd 0%, #eaeaea 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #fcfffd 0%,#eaeaea 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #fcfffd 0%,#eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfffd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

		i {
			display: block;
		}
	}// end of li
}// end of ul.nav